html {
  box-sizing: border-box;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --grey-color-line: rgb(211, 211, 211);
  --grey-color-background: #f8f8f8;
  --grey-color-text: #7f7f7f;
  --highlight-colour: #c9a16e;
}

/* GENERAL*/

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin text-formatting {
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  font-weight: 300;
}

@mixin video-container {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

@mixin video-play-button {
  background-color: rgba(255, 255, 255, 0.664);
  height: 6rem;
  width: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;

  transform: translateY(100%);
  transition: transform 0.5s;

  i {
    transform: scale(0.7);
  }

  .more:hover,
  .play:hover {
    color: var(--highlight-colour);
    filter: brightness(150%);
  }
}

@mixin image-container {
  background-color: white;
  cursor: pointer;
}

@mixin social-media {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem 3.5rem;
  @include flex-row-center();
  justify-content: center;

  a {
    color: black;
    transform: scale(1.3);
  }

  a:hover i {
    color: var(--highlight-colour);
  }
}

@mixin social-media-container {
  @include flex-row-center();
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.4rem;
}

@mixin media-queries-flex-row {
  display: flex;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

@mixin margin-center {
  margin-left: auto;
  margin-right: auto;
}

/* MAIN */

header {
  position: fixed;
  z-index: 9;
  background-color: white;
  width: 100%;
}

main,
footer {
  position: relative;
  top: 7rem;
}

/* HEADER */

.nav-bar {
  @include flex-row-center();
  justify-content: space-between;
  height: 3rem;

  .logo {
    flex-grow: 2;
  }
}

h1 {
  color: #000;
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.nav-menu {
  margin-left: 1rem;

  .burger-icon {
    margin: 0.5rem 0;
    display: block;

    .burgerBar {
      width: 1.4rem;
      height: 0.15rem;
      margin: 0.35rem;
      background-color: black;
    }
  }
}

.nav-searchbar {
  @include flex-row-center();
  margin-right: 3rem;

  div:hover {
    color: var(--highlight-colour);
    border-bottom: solid var(--grey-color-line) 0.5px;
  }
}

.search,
.play,
.account {
  height: 1.8rem;
  width: 1.4rem;
  margin: 0.8rem 0.4rem 0.4rem;
  @include flex-row-center();
  justify-content: center;

  i {
    align-items: center;
  }
}

@media screen and (min-width: 750px) {
  .nav-bar {
    height: 6rem;
    justify-content: space-around;

    max-width: 95rem;
    @include margin-center();

    .logo {
      margin-left: 4.5rem;
      text-align: center;
    }
  }

  h1 {
    font-size: 5rem;
  }

  .nav-searchbar {
    margin-right: 0;
  }

  .search,
  .play,
  .account {
    margin: 0.8rem 1rem 0.4rem;
  }
}

/* nav sections - top horizontal bar */

.nav-sections {
  @include text-formatting();
  font-size: 0.8rem;
  min-width: 100%;
  letter-spacing: 0.05rem;
  border-bottom: solid var(--grey-color-line) 0.5px;
  border-top: solid var(--grey-color-line) 0.5px;
  height: 4rem;
  overflow: auto;

  ul {
    @include flex-row-center();
    min-width: 750px;
    height: 100%;

    li {
      list-style: none;
      margin: 1.1rem;

      :hover {
        color: var(--highlight-colour);
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .nav-sections {
    height: 3.3rem;
    ul {
      margin: 0 auto;
      width: 35rem;
    }
  }
}

/* drop-down */

nav {
  text-transform: uppercase;

  ul {
    list-style: none;
    background-color: var(--grey-color-background);
    line-height: 0.6rem;
    height: calc(100vh - 7rem);
    overflow: auto;

    li {
      padding: 1rem;
      font-family: "Spartan", sans-serif;
      font-weight: 500;
      font-size: 0.8rem;
      position: relative;

      a {
        font-size: 1rem;
        color: black;
        text-decoration: none;
      }

      .hover-line {
        margin: 0;
        padding: 0;
        display: none;
        height: 100%;
        width: 0.2rem;
        background-color: var(--highlight-colour);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .lined {
      border-bottom: solid var(--grey-color-line) 0.05rem;

      .social-media {
        @include social-media();
      }
    }

    .social-media-container {
      @include social-media-container();
    }
  }
}

@media screen and (min-width: 750px) {
  nav {
    ul {
      height: calc(100vh - 9.3rem);

      .social-media {
        margin: 0.5rem 1.5rem;
      }
    }
  }
}

.nav-menu ul {
  display: none;
}

.burger-shower:checked ~ .nav-menu .drop-down-container > ul {
  display: inherit;
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
}

.burger-shower {
  display: none;
  height: 1rem;
  margin: 0.9rem;
  position: absolute;
  top: 0.2rem;
  left: 1.25rem;
}

.drop-down-container > ul > li:hover {
  background-color: white;

  .hover-line {
    display: inherit;
  }
}

.nav-menu ul ul {
  display: none;
}

.nav-menu .social-media-container:hover {
  background-color: inherit;

  a:hover {
    color: var(--highlight-colour);
    text-decoration: none;
  }
}

@media screen and (min-width: 750px) {
  .burger-shower:checked ~ .nav-menu .drop-down-container > ul {
    top: 9.3rem;
    width: 19rem;
  }
}

/* SECONDARY DROP DOWN */

.nav-menu ul li a:focus-within ~ ul {
  display: inherit;
  position: absolute;
  top: 2.65rem;
  left: 0;
  width: 100%;

  .hover-line {
    display: none;
  }
}

.nav-menu ul ul li:hover {
  background-color: white;
}

/* Animation */

.burger-shower:checked ~ .nav-menu .burger-icon {
  .one {
    background-color: var(--highlight-colour);
    transform: translate(0, 0.4rem) rotate(-45deg);
  }
  .two {
    display: none;
  }

  .three {
    background-color: var(--highlight-colour);
    transform: translate(0, -0.08rem) rotate(45deg);
  }
}

/* MAIN BODY */

main > div {
  border-bottom: solid var(--highlight-colour) 0.05rem;
}

main {
  text-align: center;
  p {
    font-size: 0.8rem;
    color: var(--grey-color-text);
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  h2 {
    margin-top: 3rem;
    cursor: pointer;
  }

  h3 {
    @include text-formatting();
    margin: 1.25rem;
  }

  h4 {
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: 1.2rem;
    cursor: pointer;
  }

  h5 {
    font-size: 1.03rem;
    color: var(--grey-color-text);
    margin-top: 0.85rem;
    margin-bottom: 1.7rem;
    font-weight: 300;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--grey-color-text);
    cursor: pointer;
  }

  a {
    color: var(--highlight-colour);
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
  }

  .feature {
    .video-container {
      width: 100%;
      min-height: 12.5rem;
      @include video-container();
      background-image: url("https://img.nowness.com/nowness-frontend/ifUO20DRbSUWUMTWEYZf_G6Zfl5Lc.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-color: #000;
      background-size: cover;
      background-position: center;
    }
  }

  .upcoming {
    width: 100%;

    .image-sliding-container {
      display: flex;
      width: 100%;
      overflow: auto;

      .sliding-image {
        margin: 1rem;
        max-width: min-content;

        .video-container {
          width: 15rem;
          height: 9.5rem;
          @include video-container();

          .video-play-button {
            @include video-play-button();
          }
        }

        .video-container:hover .video-play-button {
          transform: translateY(0);
        }
      }
    }
  }

  .current {
    .current-flex-container {
      @include flex-row-center();
      flex-direction: column;
    }

    .current-section {
      text-align: left;
      width: 94%;
      max-height: 40%;
      margin: 1rem;
      @include margin-center();

      .video-container {
        @include video-container();

        .video-play-button {
          @include video-play-button();
        }
      }

      .video-container:hover .video-play-button {
        transform: translateY(0);
      }
    }
  }

  .most-watched {
    .most-watched-section {
      @include margin-center();
      max-width: 25rem;

      .video-container {
        @include video-container();

        .video-play-button {
          @include video-play-button();
        }
      }

      .video-container:hover .video-play-button {
        transform: translateY(0);
      }
    }

    .vl {
      display: none;
    }
  }

  .share {
    .share-section {
      @include margin-center();
      margin: 2rem;

      .image-container {
        width: 16.5rem;
        height: 16.5rem;
        @include image-container();
        margin-bottom: 0.75rem;
        @include margin-center();
      }

      .hidden {
        display: none;
      }
    }
  }

  button {
    @include text-formatting();
    cursor: pointer;
    padding: 0.7rem 3rem;
    color: #000;
    background-color: white;
    border-style: solid;
    border-width: thin;
  }

  button:hover {
    color: var(--highlight-colour);
  }

  .social-media-section {
    padding: 3.7rem 2rem 2.5rem;

    h5 {
      margin-bottom: 0;
    }
  }

  .social-media-container {
    @include social-media-container();
    padding: 0;
  }

  .social-media-section--two {
    padding-top: 0;
    padding-bottom: 0;
  }

  .social-media {
    @include social-media();
    width: 1.5rem;
    height: 1.5rem;
    margin: 2.5rem 3.5rem;
  }

  /* Sprite section */

  .social-media-section .fb {
    margin: 1.25rem 2.25rem;
    position: relative;
    // top: 1rem;
    width: 4rem;
    height: 4rem;
    overflow: hidden;

    img {
      transform: scale(1.2);
      position: relative;
      top: -0.1rem;
      left: -1.5rem;
      left: 1.7rem;
    }

    a:hover img {
      left: -1.5rem;
    }
  }

  .more-section {
    padding-bottom: 0.4rem;

    .image-container {
      @include image-container();
      width: 13.5rem;
      height: 13.5rem;
      margin-bottom: 0.75rem;
      @include margin-center();
    }

    .text-container {
      max-width: 13.5rem;
      @include margin-center();
      margin-top: 1rem;
      margin-bottom: 4rem;
      text-align: left;
    }

    h5 {
      cursor: pointer;
      margin-top: 0.01rem;
    }
  }
}

@media screen and (min-width: 750px) {
  main > div {
    max-width: 95rem;
    @include margin-center();
    border-bottom: solid var(--highlight-colour) 0.05rem;
  }

  main {
    .feature {
      height: 40rem;
      .video-container {
        height: 36rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        top: 2rem;
      }
    }
    .feature p {
      color: white;
      font-size: 1.25rem;
      position: relative;
      top: -12rem;
    }

    h2 {
      color: white;
      font-size: 3rem;
      position: relative;
      top: -12rem;
    }

    h3 {
      margin: 3rem;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
    }

    h4 {
      font-size: 1.4rem;
    }

    h5 {
      font-size: 1rem;
    }

    h6 {
      font-size: 1.4rem;
    }

    .current .current-flex-container {
      @include media-queries-flex-row();

      .current-section {
        width: 30%;
        margin: 0;
      }
    }

    .most-watched {
      @include media-queries-flex-row();

      .vl {
        display: inherit;
        border-left: solid var(--highlight-colour) 0.05rem;
        height: 425px;
        margin-top: auto;
        margin-bottom: auto;
      }

      .most-watched-section {
        width: 43%;
      }
    }

    .share {
      padding-bottom: 1rem;

      .share-section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .image-container {
          margin: 0;
        }

        .image-container ~ div {
          width: 16.5rem;
        }
      }

      .share-section {
        .hidden {
          display: inherit;
          @include flex-row-center();
          flex-direction: column;
        }
      }
    }

    .join {
      text-align: center;

      h5 {
        margin: 3rem;
        width: 60%;
        @include margin-center();
      }
    }

    .social-media-section {
      .social-media-container {
        width: 38rem;
        @include margin-center();
      }
      .social-media {
        margin: 2.5rem 0.5rem;
      }
    }

    .more-section {
      .flex-container {
        @include media-queries-flex-row();
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .share-mega-container {
    @include media-queries-flex-row();
  }

  .join {
    @include media-queries-flex-row();

    .join-container,
    .social-media-section {
      width: 50%;
    }

    .vl {
      display: inherit;
      border-left: solid black 0.05rem;
      height: 18rem;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

@media screen and (min-width: 1300px) {
  main {
    .more-section {
      .more-section {
        @include media-queries-flex-row();
      }

      .text-container {
        margin-top: 0;
      }
    }
  }
}
/* footer */

footer {
  text-align: center;
  display: relative;

  .footer-list {
    margin-bottom: 7rem;

    p {
      @include text-formatting();
      font-size: 0.75rem;
      margin: 3rem 0;
      cursor: pointer;
    }

    p:hover {
      color: var(--highlight-colour);
    }
  }

  .footer-banner {
    @include text-formatting();
    font-size: 0.88rem;
    margin-bottom: 5rem;

    p {
      margin: 2rem 0;
      color: black;
    }
  }
}

@media screen and (min-width: 750px) {
  footer {
    .footer-banner {
      p {
        font-size: 0.7rem;
        margin: 1rem 0 2rem;
      }
    }

    .footer-list {
      margin-bottom: 0;
      margin-top: 1.2rem;
      max-width: 70rem;
    }

    .footer-list,
    .footer-banner {
      @include media-queries-flex-row();
    }
  }
}
