html {
  box-sizing: border-box;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --grey-color-line: rgb(211, 211, 211);
  --grey-color-background: #f8f8f8;
  --grey-color-text: #7f7f7f;
  --highlight-colour: #c9a16e;
}

/* connect banner */

// .connect-banner {
//     background-color: black;
//     color: white;
//     display: none;
// }

/* GENERAL*/

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin text-formatting {
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  font-family: "Jost", sans-serif;
  font-weight: 300;
}

@mixin video-container {
  background-color: rebeccapurple;
  cursor: pointer;
}

@mixin image-container {
  background-color: rebeccapurple;
  cursor: pointer;
}

@mixin social-media {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem 3.5rem;
  @include flex-row-center();
  justify-content: center;

  a {
    color: black;
    transform: scale(1.3);
  }

  a:hover i {
    color: var(--highlight-colour);
  }
}

@mixin social-media-container {
  @include flex-row-center();
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.4rem;
}

header {
  position: fixed;
  z-index: 9;
  background-color: white;
  width: 100%;
}

main,
footer {
  position: relative;
  top: 7rem;
}

/* HEADER*/

.nav-bar {
  @include flex-row-center();
  justify-content: space-between;
  border-bottom: solid var(--grey-color-line) 0.5px;
  height: 3rem;
}

h1 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.left-nav {
  @include flex-row-center();
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;

  .nav-menu {
    .burger-icon {
      margin: 0.5rem 0;
      display: block;

      .burgerBar {
        width: 1.4rem;
        height: 0.15rem;
        margin: 0.35rem;
        background-color: black;
      }
    }
  }
}

.nav-searchbar {
  @include flex-row-center();
  margin-right: 3rem;
  // justify-content: flex-end;

  div:hover {
    color: var(--highlight-colour);
    border-bottom: solid var(--grey-color-line) 0.5px;
  }
}

.search,
.play,
.account {
  // background-color: blue;
  height: 1.8rem;
  width: 1.4rem;
  margin: 0.8rem 0.4rem 0.4rem;
  @include flex-row-center();
  justify-content: center;

  i {
    align-items: center;
  }
}

/* nav sections - top horizontal bar */

.nav-sections {
  @include text-formatting();
  font-size: 0.8rem;
  min-width: 100%;
  letter-spacing: 0.05rem;
  border-bottom: solid var(--grey-color-line) 0.5px;
  height: 4rem;
  overflow: auto;

  ul {
    @include flex-row-center();
    min-width: 750px;
    height: 100%;

    li {
      list-style: none;
      margin: 1.1rem;

      :hover {
        color: var(--highlight-colour);
      }
    }
  }
}

/* drop-down */

nav {
  text-transform: uppercase;

  ul {
    list-style: none;
    // display: absolute;
    background-color: var(--grey-color-background);
    line-height: 0.6rem;

    li {
      padding: 1rem;
      font-family: "Spartan", sans-serif;
      font-weight: 500;
      font-size: 0.8rem;
      position: relative;

      .hover-line {
        margin: 0;
        padding: 0;
        display: none;
        height: 100%;
        width: 0.2rem;
        background-color: var(--highlight-colour);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .lined {
      border-bottom: solid var(--grey-color-line) 0.05rem;

      .social-media {
        @include social-media();
      }
    }

    .social-media-container {
      @include social-media-container();
    }
  }
}

.nav-menu ul {
  display: none;
}

.burger-shower:checked ~ .nav-menu > nav > ul {
  display: inherit;
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
}

.burger-shower {
  display: none;
  height: 1rem;
  margin: 0.9rem;
  position: absolute;
  top: 0.2rem;
  left: 1.25rem;
}

.nav-menu li:hover {
  background-color: white;

  .hover-line {
    display: inherit;
  }
}

.nav-menu .social-media-container:hover {
  background-color: inherit;

  a:hover {
    color: var(--highlight-colour);
    text-decoration: none;
  }
}

/* SECONDARY DROP DOWN */

.nav-menu ul li a:hover {
  // background-color: lawngreen;
  display: inherit;
  // position: absolute;

  ul {
    display: inherit;
    position: absolute;
    top: 1000px;
  }
}

/* Animation */

.burger-shower:checked ~ .nav-menu .burger-icon {
  .one {
    background-color: var(--highlight-colour);
    transform: translate(0, 0.4rem) rotate(-45deg);
  }
  .two {
    display: none;
  }

  .three {
    background-color: var(--highlight-colour);
    transform: translate(0, -0.08rem) rotate(45deg);
  }
}

/* MAIN BODY */

main > div {
  border-bottom: solid var(--highlight-colour) 0.05rem;
}

main {
  text-align: center;
  p {
    font-size: 0.8rem;
    color: var(--grey-color-text);
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  h2 {
    margin-top: 3rem;
    cursor: pointer;
  }

  h3 {
    @include text-formatting();
    margin: 1.25rem;
  }

  h4 {
    font-size: 1.15rem;
    font-weight: 400;
    margin-top: 1.2rem;
    cursor: pointer;
  }

  h5 {
    font-size: 1.03rem;
    color: var(--grey-color-text);
    margin-top: 0.85rem;
    margin-bottom: 1.7rem;
    font-weight: 300;
  }

  h6 {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--grey-color-text);
    cursor: pointer;
  }

  a {
    color: var(--highlight-colour);
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  .feature {
    .video-container {
      width: 100%;
      height: 12.5rem;
      @include video-container();
    }
  }

  .upcoming {
    width: 100%;

    .image-sliding-container {
      display: flex;
      width: 100%;

      .sliding-image {
        margin: 1rem;

        .video-container {
          width: 15rem;
          height: 9.5rem;
          @include video-container();
        }
      }
    }
  }

  .current {
    .current-section {
      text-align: left;
      width: 94%;
      height: 40%;
      margin: 1rem;
      margin-left: auto;
      margin-right: auto;

      .video-container {
        @include video-container();
        height: 22.5rem;
      }
    }
  }

  .most-watched {
    .most-watched-section {
      margin-left: auto;
      margin-right: auto;
      max-width: 25rem;

      .video-container {
        width: 100%;
        height: 16rem;
        @include video-container();
      }
    }
  }

  .share {
    .share-section {
      margin-left: auto;
      margin-right: auto;
      margin: 2rem;

      .image-container {
        width: 16.5rem;
        height: 16.5rem;
        @include image-container();
        margin-bottom: 0.75rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  button {
    @include text-formatting();
    cursor: pointer;
    padding: 0.7rem 3rem;
    color: #000;
    background-color: white;
  }

  button:hover {
    color: var(--highlight-colour);
  }

  .social-media-section {
    padding: 3.7rem 2rem 2.5rem;

    h5 {
      margin-bottom: 0;
    }
  }

  .social-media-container {
    @include social-media-container();
    padding: 0;
  }

  .social-media-section--two {
    padding-top: 0;
    padding-bottom: 0;
  }

  .social-media {
    @include social-media();
    width: 1.5rem;
    height: 1.5rem;
    margin: 2.5rem 3.5rem;
  }

  .more-section {
    padding-bottom: 0.4rem;

    .image-container {
      @include image-container();
      width: 13.5rem;
      height: 13.5rem;
      margin-bottom: 0.75rem;
      margin-left: auto;
      margin-right: auto;
    }

    .text-container {
      max-width: 13.5rem;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1rem;
      margin-bottom: 4rem;
      text-align: left;
    }

    h5 {
      // background-color: #c9a16e;
      cursor: pointer;
      margin-top: 0.01rem;
    }
  }
}

/* footer */

footer {
  text-align: center;
  display: relative;

  .footer-list {
    margin-bottom: 7rem;

    p {
      @include text-formatting();
      font-size: 0.75rem;
      margin: 3rem 0;
    }
  }

  .footer-banner {
    @include text-formatting();
    font-size: 0.88rem;
    margin-bottom: 5rem;

    p {
      margin: 2rem 0;
      color: black;
    }
  }
}
