html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --grey-color-line: rgb(211, 211, 211);
  --grey-color-background: #f8f8f8;
  --grey-color-text: #7f7f7f;
  --highlight-colour: #c9a16e;
}

/* connect banner */
/* GENERAL*/
/* MAIN */
header {
  position: fixed;
  z-index: 9;
  background-color: white;
  width: 100%;
}

main,
footer {
  position: relative;
  top: 7rem;
}

/* HEADER */
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid var(--grey-color-line) 0.5px;
  height: 3rem;
}

h1 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 0.2rem;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.left-nav .nav-menu .burger-icon {
  margin: 0.5rem 0;
  display: block;
}

.left-nav .nav-menu .burger-icon .burgerBar {
  width: 1.4rem;
  height: 0.15rem;
  margin: 0.35rem;
  background-color: black;
}

.nav-searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.nav-searchbar div:hover {
  color: var(--highlight-colour);
  border-bottom: solid var(--grey-color-line) 0.5px;
}

.search,
.play,
.account {
  height: 1.8rem;
  width: 1.4rem;
  margin: 0.8rem 0.4rem 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search i,
.play i,
.account i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* nav sections - top horizontal bar */
.nav-sections {
  text-transform: uppercase;
  color: #424242;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  min-width: 100%;
  letter-spacing: 0.05rem;
  border-bottom: solid var(--grey-color-line) 0.5px;
  height: 4rem;
  overflow: auto;
}

.nav-sections ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 750px;
  height: 100%;
}

.nav-sections ul li {
  list-style: none;
  margin: 1.1rem;
}

.nav-sections ul li :hover {
  color: var(--highlight-colour);
}

/* drop-down */
nav {
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  background-color: var(--grey-color-background);
  line-height: 0.6rem;
}

nav ul li {
  padding: 1rem;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  position: relative;
}

nav ul li .hover-line {
  margin: 0;
  padding: 0;
  display: none;
  height: 100%;
  width: 0.2rem;
  background-color: var(--highlight-colour);
  position: absolute;
  top: 0;
  left: 0;
}

nav ul .lined {
  border-bottom: solid var(--grey-color-line) 0.05rem;
}

nav ul .lined .social-media {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul .lined .social-media a {
  color: black;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

nav ul .lined .social-media a:hover i {
  color: var(--highlight-colour);
}

nav ul .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.4rem;
}

.nav-menu ul {
  display: none;
}

.burger-shower:checked ~ .nav-menu > nav > ul {
  display: inherit;
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
}

.burger-shower {
  display: none;
  height: 1rem;
  margin: 0.9rem;
  position: absolute;
  top: 0.2rem;
  left: 1.25rem;
}

.nav-menu li:hover {
  background-color: white;
}

.nav-menu li:hover .hover-line {
  display: inherit;
}

.nav-menu .social-media-container:hover {
  background-color: inherit;
}

.nav-menu .social-media-container:hover a:hover {
  color: var(--highlight-colour);
  text-decoration: none;
}

/* SECONDARY DROP DOWN */
.nav-menu ul li a:hover {
  display: inherit;
}

.nav-menu ul li a:hover ul {
  display: inherit;
  position: absolute;
  top: 1000px;
}

/* Animation */
.burger-shower:checked ~ .nav-menu .burger-icon .one {
  background-color: var(--highlight-colour);
  -webkit-transform: translate(0, 0.4rem) rotate(-45deg);
          transform: translate(0, 0.4rem) rotate(-45deg);
}

.burger-shower:checked ~ .nav-menu .burger-icon .two {
  display: none;
}

.burger-shower:checked ~ .nav-menu .burger-icon .three {
  background-color: var(--highlight-colour);
  -webkit-transform: translate(0, -0.08rem) rotate(45deg);
          transform: translate(0, -0.08rem) rotate(45deg);
}

/* MAIN BODY */
main > div {
  border-bottom: solid var(--highlight-colour) 0.05rem;
}

main {
  text-align: center;
}

main p {
  font-size: 0.8rem;
  color: var(--grey-color-text);
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

main h2 {
  margin-top: 3rem;
  cursor: pointer;
}

main h3 {
  text-transform: uppercase;
  color: #424242;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  margin: 1.25rem;
}

main h4 {
  font-size: 1.15rem;
  font-weight: 400;
  margin-top: 1.2rem;
  cursor: pointer;
}

main h5 {
  font-size: 1.03rem;
  color: var(--grey-color-text);
  margin-top: 0.85rem;
  margin-bottom: 1.7rem;
  font-weight: 300;
}

main h6 {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--grey-color-text);
  cursor: pointer;
}

main a {
  color: var(--highlight-colour);
  text-decoration: none;
}

main img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

main .feature .video-container {
  width: 100%;
  min-height: 12.5rem;
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  background-image: url("https://img.nowness.com/nowness-frontend/ifUO20DRbSUWUMTWEYZf_G6Zfl5Lc.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: cover;
}

main .upcoming {
  width: 100%;
}

main .upcoming .image-sliding-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: auto;
}

main .upcoming .image-sliding-container .sliding-image {
  margin: 1rem;
}

main .upcoming .image-sliding-container .sliding-image .video-container {
  width: 15rem;
  height: 9.5rem;
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

main .upcoming .image-sliding-container .sliding-image .video-container .video-play-button {
  background-color: rgba(255, 255, 255, 0.664);
  height: 6rem;
  width: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main .upcoming .image-sliding-container .sliding-image .video-container .video-play-button i {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

main .upcoming .image-sliding-container .sliding-image .video-container .video-play-button .more:hover,
main .upcoming .image-sliding-container .sliding-image .video-container .video-play-button .play:hover {
  color: var(--highlight-colour);
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

main .upcoming .image-sliding-container .sliding-image .video-container:hover .video-play-button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .current .current-section {
  text-align: left;
  width: 94%;
  max-height: 40%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
}

main .current .current-section .video-container {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

main .current .current-section .video-container .video-play-button {
  background-color: rgba(255, 255, 255, 0.664);
  height: 6rem;
  width: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main .current .current-section .video-container .video-play-button i {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

main .current .current-section .video-container .video-play-button .more:hover,
main .current .current-section .video-container .video-play-button .play:hover {
  color: var(--highlight-colour);
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

main .current .current-section .video-container:hover .video-play-button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .most-watched .most-watched-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
}

main .most-watched .most-watched-section .video-container {
  max-width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

main .most-watched .most-watched-section .video-container .video-play-button {
  background-color: rgba(255, 255, 255, 0.664);
  height: 6rem;
  width: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

main .most-watched .most-watched-section .video-container .video-play-button i {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

main .most-watched .most-watched-section .video-container .video-play-button .more:hover,
main .most-watched .most-watched-section .video-container .video-play-button .play:hover {
  color: var(--highlight-colour);
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

main .most-watched .most-watched-section .video-container:hover .video-play-button {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

main .share .share-section {
  margin-left: auto;
  margin-right: auto;
  margin: 2rem;
}

main .share .share-section .image-container {
  width: 16.5rem;
  height: 16.5rem;
  background-color: white;
  cursor: pointer;
  margin-bottom: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

main button {
  text-transform: uppercase;
  color: #424242;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  cursor: pointer;
  padding: 0.7rem 3rem;
  color: #000;
  background-color: white;
  border-style: solid;
  border-width: thin;
}

main button:hover {
  color: var(--highlight-colour);
}

main .social-media-section {
  padding: 3.7rem 2rem 2.5rem;
}

main .social-media-section h5 {
  margin-bottom: 0;
}

main .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.4rem;
  padding: 0;
}

main .social-media-section--two {
  padding-top: 0;
  padding-bottom: 0;
}

main .social-media {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin: 2.5rem 3.5rem;
}

main .social-media a {
  color: black;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

main .social-media a:hover i {
  color: var(--highlight-colour);
}

main .more-section {
  padding-bottom: 0.4rem;
}

main .more-section .image-container {
  background-color: white;
  cursor: pointer;
  width: 13.5rem;
  height: 13.5rem;
  margin-bottom: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}

main .more-section .text-container {
  max-width: 13.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-align: left;
}

main .more-section h5 {
  cursor: pointer;
  margin-top: 0.01rem;
}

/* footer */
footer {
  text-align: center;
  display: relative;
}

footer .footer-list {
  margin-bottom: 7rem;
}

footer .footer-list p {
  text-transform: uppercase;
  color: #424242;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  margin: 3rem 0;
  cursor: pointer;
}

footer .footer-list p:hover {
  color: var(--highlight-colour);
}

footer .footer-banner {
  text-transform: uppercase;
  color: #424242;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 0.88rem;
  margin-bottom: 5rem;
}

footer .footer-banner p {
  margin: 2rem 0;
  color: black;
}
/*# sourceMappingURL=styles.css.map */