html {
  box-sizing: border-box;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --grey-color-line: rgb(211, 211, 211);
  --grey-color-background: #f8f8f8;
}

/* connect banner */

// .connect-banner {
//     background-color: black;
//     color: white;
//     display: none;
// }

/* header */

/* Header Bar*/

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid var(--grey-color-line) 0.5px;
  height: 3rem;
}

.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
}

.burgerBar {
  width: 1.4rem;
  height: 0.15rem;
  margin: 0.35rem;
  background-color: black;
}

h1 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.nav-searchbar {
  display: flex;
  margin-right: 3rem;
  align-items: center;
}

.search,
.play,
.account {
  // background-color: blue;
  height: 1.2rem;
  width: 1.1rem;
  margin: 0.6rem;
}

/* nav sections - top horizontal bar*/

.nav-sections {
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  font-family: 'Jost', sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 300;
  font-size: 0.8rem;
  min-width: 100%;
  border-bottom: solid var(--grey-color-line) 0.5px;
  height: 4rem;
  overflow: auto;

  ul{ 
    min-width: 750px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    li {
      list-style: none;
      margin: 1.1rem;
    }
  }
}



/* drop-down */

nav {
  text-transform: uppercase;

  ul {
    list-style: none;
    display: absolute;
  }

  ul ul {
    background-color: var(--grey-color-background);
    line-height: 0.6rem;
    // display: none;
    li {
      padding: 1rem;
      font-family: "Spartan", sans-serif;
      font-weight: 600;
      font-size: 0.8rem;
    }
    .lined {
      border-bottom: solid var(--grey-color-line) 0.05rem;

      .social-media {
        width: 1rem;
        height: 1rem;
        margin: 0.5rem 3.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        a {
          color: black;
        }
      
      }
    }
    .social-media-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    
      padding: 0.4rem;


    }
  }
}

nav > ul > ul {
  display: relative;
  top: 200px;
}

.nav-menu ul ul {
  display: none;
}

.nav ul li:hover > ul {
  list-style: none;
  display: inherit;
  background-color: brown;
}

.nav-menu ul a:hover > ul {
  display: inherit;
  top: 0px;
  left: 0px;
}
