html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --grey-color-line: rgb(211, 211, 211);
  --grey-color-background: #f8f8f8;
  --grey-color-text: #7f7f7f;
  --highlight-colour: #c9a16e;
}

/* connect banner */
/* Header Bar*/
.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid var(--grey-color-line) 0.5px;
  height: 3rem;
}

.left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.left-nav .nav-menu {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.left-nav .nav-menu .burger-icon {
  margin: 0.5rem;
}

.left-nav .nav-menu .burger-icon .burgerBar {
  width: 1.4rem;
  height: 0.15rem;
  margin: 0.35rem;
  background-color: black;
}

h1 {
  font-weight: 400;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

.nav-searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search,
.play,
.account {
  height: 1.2rem;
  width: 1.1rem;
  margin: 0.6rem;
}

/* nav sections - top horizontal bar*/
.nav-sections {
  text-transform: uppercase;
  color: #424242;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  font-size: 0.8rem;
  min-width: 100%;
  letter-spacing: 0.05rem;
  border-bottom: solid var(--grey-color-line) 0.5px;
  height: 4rem;
  overflow: auto;
}

.nav-sections ul {
  min-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav-sections ul li {
  list-style: none;
  margin: 1.1rem;
}

/* drop-down */
nav {
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  background-color: var(--grey-color-background);
  line-height: 0.6rem;
}

nav ul li {
  padding: 1rem;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

nav ul .lined {
  border-bottom: solid var(--grey-color-line) 0.05rem;
}

nav ul .lined .social-media {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav ul .lined .social-media a {
  color: black;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

nav ul .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.4rem;
}

.nav-menu ul {
  display: none;
}

.burger-shower:checked ~ .nav-menu > nav > ul {
  display: inherit;
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100%;
}

.nav-menu ul li a:hover {
  background-color: lawngreen;
  display: inherit;
}

.nav-menu ul li a:hover ul {
  display: inherit;
  position: absolute;
  top: 1000px;
}

/* Animation */
.burger-shower:checked ~ .nav-menu .burger-icon .one {
  background-color: var(--highlight-colour);
  -webkit-transform: translate(0, 0.4rem) rotate(-45deg);
          transform: translate(0, 0.4rem) rotate(-45deg);
}

.burger-shower:checked ~ .nav-menu .burger-icon .two {
  display: none;
}

.burger-shower:checked ~ .nav-menu .burger-icon .three {
  background-color: var(--highlight-colour);
  -webkit-transform: translate(0, -0.08rem) rotate(45deg);
          transform: translate(0, -0.08rem) rotate(45deg);
}

/* main body*/
main > div {
  border-bottom: solid var(--highlight-colour) 0.05rem;
}

main {
  text-align: center;
}

main p {
  font-size: 0.8rem;
  color: var(--grey-color-text);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main h2 {
  margin-top: 3rem;
}

main h3 {
  text-transform: uppercase;
  color: #424242;
  font-family: "Jost", sans-serif;
  font-weight: 300;
  margin: 1.25rem;
}

main h4 {
  font-size: 1.15rem;
  font-weight: 400;
  margin-top: 1.2rem;
}

main h5 {
  font-size: 1.03rem;
  color: var(--grey-color-text);
  margin-top: 0.85rem;
  margin-bottom: 1.7rem;
  font-weight: 300;
}

main .feature .video-container {
  width: 100%;
  height: 12.5rem;
  background-color: rebeccapurple;
}

main .upcoming {
  width: 100%;
}

main .upcoming .image-sliding-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .upcoming .image-sliding-container .sliding-image {
  margin: 1rem;
}

main .upcoming .image-sliding-container .sliding-image .video-container {
  width: 15rem;
  height: 9.5rem;
  background-color: rebeccapurple;
}

main .current .current-section {
  text-align: left;
  width: 94%;
  height: 40%;
  margin: 1rem;
  margin-left: auto;
  margin-right: auto;
}

main .current .current-section .video-container {
  background-color: rebeccapurple;
  height: 22.5rem;
}

main .most-watched .most-watched-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
}

main .most-watched .most-watched-section .video-container {
  width: 100%;
  height: 16rem;
  background-color: rebeccapurple;
}

main .share .share-section {
  margin-left: auto;
  margin-right: auto;
  margin: 2rem;
}

main .share .share-section .image-container {
  width: 16.5rem;
  height: 16.5rem;
  background-color: rebeccapurple;
  margin-bottom: 0.75rem;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=styles.css.map */